// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  margin: 17px 0;
  font-size: 28px;
}

h2 {
  margin: 16px 0;
  font-size: 20px;
}

p {
  font-size: 13px;
}

// index-table
table {
  font-size: 13px;
}

th {
  padding: 1px 1px 5px 1px;
}

td {
  padding: 1px 5px 7px 5px;
}

// index,edit-form
.field {
  margin-bottom: 10px;
}

.title {
  margin: 0;
}

input[type="text"] {
  padding: 1px 2px;
}

textarea#book_body {
  padding: 2px;
}

input[type="submit"] {
  padding:2px 6px;
}

// link
.link-botan {
  margin: 0;
}

.link-botan > a,
td > a {
  color: #666666;
}

.link-botan > a:hover,
td > a:hover {
  background-color: black;
  color: white;
}

.link-botan > a:visited,
td > a:visited {
  color: #000000;
}

// error
.error-box {
  height: 134px;
  width: 468px;
  border:solid 2px red;
  background-color: #f0f0f0;
  margin-bottom: 20px;
  font-size: 12px;
}

.error-heading {
  font-size: 12px;
  background-color: #c00;
  color: #fff;
  padding: 5px 15px;
  margin: 0;
}

.error-message {
  margin: 33px;
  padding-left: 40px;
  line-height: 18px;
}

li {
  list-style: square;
}
