// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  margin: 17px 0;
  font-size: 28px;
}

p {
  font-size: 13px;
}

.field {
  margin-bottom: 10px;
}

.title {
  margin: 0;
}

input[type="text"] {
  padding: 1px 2px;
}

textarea#book_body {
  padding: 2px;
}

input[type="submit"] {
  padding:2px 6px;
}

.link-botan {
  margin: 0;
}

.link-botan > a {
  color: #666666;
}

.link-botan > a:hover {
  background-color: black;
  color: white;
}