// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
    font-size: 13px;
}

main {
    font-size: 13px;
}

p {
    margin: 33px;
}